/* ===== BASIC CSS RESET ====== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*========== BASIC STYLE ==========*/

html {
  scroll-behavior: smooth;
}

@media all and (min-width: 992px) {

body {
  display: flex;
  height: 100vh;
}

}

/* =======  NAVIGATION MENU ======= */

.menu {
    background-image: url(assets/fancy-cushion.png);
    text-align: center;
}
  
.menu .first-line {
    display: inline-block;
    margin: 1rem auto 4rem auto;
    color: rgba(255,255,255,.5);

}

.menu h1 {
  color: rgba(255,255,255,.8);
  cursor: default;
}

.menu div {
    font-family: 'Chela One', cursive;
    font-size: 1.4rem;
    line-height: 3rem;
    height: 3rem;
}
  
.menu a {
    display: block;
    text-decoration: none;
    color: rgba(255,255,255,.8);
}
  
.menu a:hover {
    background-color: rgba(255,255,255,.6);
    transition: background-color .3s ease-in-out;
}
  
.menu img {
      width: 3rem;
      border-radius: 10%;
      border: .05rem solid rgba(255,255,255,.8);
}
  
/* ========  MEDIA QUERY ==========  */

@media all and (min-width: 992px) {
      
  .menu {
    position: fixed;
    top: 0;
    width: 96%;
    z-index: 1;
    text-align: right;
    margin: 1rem 2% 0 2%; 
    border-radius: 10px;
    background-image: url(assets/menu.png);
    background-size: cover;
  }

    .menu div {
        display: inline-block;
        margin: .5rem .8rem;
    }

    .menu .first-line h1{
        display: inline-block;
        vertical-align: top;
        margin-left: 1rem;
    }

    .menu .first-line {
        position: absolute;
        left: 1rem;
        top: 0;
        margin-top: .5rem;
    }

    .menu h1 {
      color: rgba(0,0,0,1);
      cursor: default;
    }

    .menu a {
      color: rgba(0,0,0,1);
      padding-left: 1rem;
      padding-right: 1rem;
      margin: 0;
    }

    .menu a:hover {
      background-color: rgba(255,165,0,1);
      border-radius: 9999px;
      padding-left: 1rem;
      padding-right: 1rem;
      transition: background-color 1s ease-in-out;
    }
}


/* ========= MAIN ========== */

body {
  background-image: url(assets/upfeathers.png);
  background-color: rgba(0,255,0,.2);
  background-blend-mode: overlay;
}

.profile-image {
    display: block;
    width: 60%;
    margin: 4rem auto;
    border-radius: 20px;
}

.about-me-text {
  font-family: 'KoHo', sans-serif;
  font-size: 1.5rem;
  color: rgba(0,0,0,1);
  text-align: center;
  margin: 2rem;
  line-height: 2rem;
  font-weight: 900;
  cursor: default;
}

.about-me-images img {
  display: block;
  width: 80%;
  margin: 4rem auto;
  border-radius: 20px;
}

/* =============== MEDIA QUERY =========== */

@media all and (min-width: 992px) {

    .main-block {
      align-self: center;
    }
    
    .wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .profile-image {
      width: 12rem;
      margin-left: 5rem;
      border-radius: 10px;
      box-shadow: none;
    }

    .about-me-text {
      font-family: 'KoHo', sans-serif;
      font-size: 1.5rem;
      color: rgba(0,0,0,1);
      text-align: center;
      line-height: 2rem;
      font-weight: 900;
    }
    
    .about-me-images {
      margin-right: 5rem;
    }

    .about-me-images img {
      width: 100%;
      margin-bottom: 1rem;
      border-radius: 10px;
      box-shadow: none;
    }

}

/* =======  FOOTER  =========  */

footer {
    background-image: url(assets/fancy-cushion.png);
    display: table;
    height: 8rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-family: 'Chela One', cursive;
    font-size: 1rem;
  }
  
  .footer-wrapper {
    display: table-cell;
    vertical-align: middle;
  } 
  
  footer small {
    color: rgba(255,255,255,.8);
    letter-spacing: .05rem;
    margin-bottom: 1rem;
    display: block;
    cursor: default;
  }
  
  .footer-nav a {
    display: inline-block;
    text-decoration: none;
    color: rgba(110,150,200,1);
    margin: 0 1rem;
    padding: .5rem;
  }
  
  .footer-nav a:hover {
    background-color: rgba(255,255,255,.8);
    border-radius: 10px;
    transition: all .15s ease-in-out;
  }
  
  /* ========  MEDIA QUERY  =======  */

  @media all and (min-width: 992px) {

    .footer-wrapper {
      display: flex;
    }

    .design {
      flex: 1;
    }

    footer {
      position: fixed;
      bottom: 1rem;
      background-image: url(assets/menu.png);
      background-size: cover;
      width: 96%;
      margin: 0 2% 0 2%;
      border-radius: 10px;
      height: 0;
      padding: 1rem;
    }

    footer small {
      color: rgba(0,0,0,1);
      margin: 0;
    }

    .footer-nav a {
      padding: 0;
    }

    .footer-nav a {
      color: rgba(0,0,0,1);
      padding: 0;
    }

    .footer-nav a:hover {
      color: rgba(255,165,0,1);
      background: none;
      transition: all .15s ease-in-out;
    }

    .back {
      visibility: hidden;
    }

  }
