/* ===== BASIC CSS RESET ====== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  background: url(assets/background.png);
  background-size: cover;
}

/* =======  NAVIGATION MENU ======= */

  .menu {
    background-image: url(assets/fancy-cushion.png);
    text-align: center;
  }
  
  .menu .first-line {
    display: inline-block;
    margin: 1rem auto 4rem auto;
  }

  .menu h1 {
    color: rgba(255,255,255,.8);
    cursor: default;
  }

  .menu div {
    font-family: 'Chela One', cursive;
    font-size: 1.4rem;
    line-height: 3rem;
    height: 3rem;
  }
  
  .menu a {
    display: block;
    text-decoration: none;
    color: rgba(255,255,255,.8);
  }
  
  .menu a:hover {
    background-color: rgba(255,255,255,.6);
    transition: background-color .3s ease-in-out;
  }
  
  .menu img {
      width: 3rem;
      border-radius: 10%;
      border: .05rem solid rgba(255,255,255,.8);
  }
  
  /* ========  MEDIA QUERY ==========  */

  @media all and (min-width: 992px) {

      .menu {
        position: fixed;
        top: 0;
        width: 96%;
        z-index: 1;
        text-align: right;
        margin: 1rem 2% 0 2%; 
        border-radius: 10px;
        background-image: url(assets/menu.png);
        background-size: cover;
      }

      .menu div {
        display: inline-block;
        margin: .5rem .8rem;
      }

      .menu .first-line h1{
        display: inline-block;
        vertical-align: top;
        margin-left: 1rem;
      }

      .menu .first-line {
        position: absolute;
        left: 1rem;
        top: 0;
        margin-top: .5rem;
      }

      .menu h1 {
        color: rgba(0,0,0,1);
        cursor: default;
      }

      .menu a {
        color: rgba(0,0,0,1);
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
      }

      .menu a:hover {
        background-color: rgba(255,165,0,1);
        border-radius: 9999px;
        padding-left: 1rem;
        padding-right: 1rem;
        transition: background-color 1s ease-in-out;
      }
  }

/* ======  HEADER  ========   */

.cover {
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    color: rgba(255,255,255,1);
    font-family: 'KoHo', sans-serif;
    text-align: center;
    display: table;
  }
  
  .header-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 0 .625rem;
  }
  
  .profile-image {
    width: 40%;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .byline h2 {
    background-color: rgb(0,0,0,.2);
    border-radius: 9999px;
    padding: .8rem;
    margin: 1rem 1rem;
    font-size: 2.6rem;
    line-height: 1.8rem;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-shadow: .2rem .2rem 0.1rem rgba(0,0,0,1);
    cursor: default;
  }
  
  .byline h3 {
    background-color: rgb(0,0,0,.2);
    border-radius: 9999px;
    padding: 1rem;
    margin: 1rem 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 900;
    text-shadow: .2rem .2rem 0.1rem rgba(0,0,0,1);
    cursor: default;
  }
  
  .headline {
    background-color: rgb(0,0,0,.2);
    border-radius: 9999px;
    padding: .5rem;
    font-size: 2.6rem;
    margin: 8rem 0;
    text-shadow: .2rem .2rem 0.1rem rgba(0,0,0,1);
    cursor: default;
  }

  .tagline {
    background-color: rgb(0,0,0,.2);
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 900;
    border-radius: 9999px;
    margin: 3rem 1rem;
    padding: .5rem;
    text-shadow: .2rem .2rem 0.1rem rgba(0,0,0,1);
    cursor: default;
  }
  
  /* ====== MEDIA QUERY  ========= */

  @media all and (min-width: 992px) {

    .profile-image {
      width: 15%;
      border-radius: 20px;
      margin-top: 8rem;
      margin-bottom: 4rem;
    }

    .headline {
      width: 82%;
      border-radius: 9999px;
      padding: 1rem;
      font-size: 5rem;
      margin: 5rem auto;
    }
    
    .byline h2 {
      width: 30%;
      font-size: 4rem;
      line-height: 4rem;
      margin: 0 auto;
    }
    
    .byline h3 {
      width: 25%;
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 900;
      margin: 1rem auto;
    }

    .tagline {  
      width: 55%;  
      font-size: 1.4rem;
      margin: 5rem auto;
      padding: 1rem;
    }
  }

/* =======  FOOTER  =========  */

  footer {
    background-image: url(assets/fancy-cushion.png);
    display: table;
    height: 8rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-family: 'Chela One', cursive;
    font-size: 1rem;
  }
  
  .footer-wrapper {
    display: table-cell;
    vertical-align: middle;
  } 
  
  footer small {
    color: rgba(255,255,255,.8);
    letter-spacing: .05rem;
    margin-bottom: 1rem;
    display: block;
    cursor: default;
  }
  
  .footer-nav a {
    display: inline-block;
    text-decoration: none;
    color: rgba(110,150,200,1);
    margin: 0 1rem;
    padding: .5rem;
  }
  
  .footer-nav a:hover {
    background-color: rgba(255,255,255,.8);
    border-radius: 10px;
    transition: all .15s ease-in-out;
  }
  
  /* ========  MEDIA QUERY  =======  */

  @media all and (min-width: 992px) {

    .footer-wrapper {
      display: flex;
    }

    .design {
      flex: 1;
    }

    footer {
      background-image: url(assets/menu.png);
      background-size: cover;
      width: 96%;
      margin: 0 2% 1rem 2%;
      border-radius: 10px;
      height: 0;
      padding: 1rem;
    }

    footer small {
      color: rgba(0,0,0,1);
      margin: 0;
    }

    .footer-nav a {
      padding: 0;
    }

    .footer-nav a {
      color: rgba(0,0,0,1);
      padding: 0;
    }

    .footer-nav a:hover {
      color: rgba(255,165,0,1);
      background: none;
      transition: all .15s ease-in-out;
    }

  }
